body {
  background-color: rgb(78, 68, 167) !important;
}

.container {
  min-height: 100vh;
  background-color: rgb(78, 68, 167) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-card {
  width: 30rem;
}

.question-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.bg-success, .bg-danger {
  color: white !important;
}

.width-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 32px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
